
/* ADEQUAÇÃO PARA MONITORES */

@media (max-width: 1890px) {
    html {
        font-size: 61.52%;
    }
}
@media (max-width: 1860px) {
    html {
        font-size: 60.55%;
    }
}

@media (max-width: 1830px) {
    html {
        font-size: 59.57%;
    }
}

@media (max-width: 1800px) {
    html {
        font-size: 58.60%;
    }
}

@media (max-width: 1770px) {
    html {
        font-size: 57.62%;
    }
}

@media (max-width: 1740px) {
    html {
        font-size: 56.64%;
    }
}

@media (max-width: 1710px) {
    html {
        font-size: 55.66%;
    }
}

@media (max-width: 1680px) {
    html {
        font-size: 54.69%;
    }
}

@media (max-width: 1650px) {
    html {
        font-size: 53.71%;
    }
}

@media (max-width: 1620px) {
    html {
        font-size: 52.73%;
    }
}

@media (max-width: 1590px) {
    html {
        font-size: 51.76%;
    }
}

@media (max-width: 1560px) {
    html {
        font-size: 50.78%;
    }
}

@media (max-width: 1530px) {
    html {
        font-size: 49.80%;
    }
}

@media (max-width: 1500px) {
    html {
        font-size: 48.83%;
    }
}

@media (max-width: 1470px) {
    html {
        font-size: 47.85%;
    }
}

@media (max-width: 1440px) {
    html {
        font-size: 46.88%;
    }
}

@media (max-width: 1410px) {
    html {
        font-size: 45.90%;
    }
}

@media (max-width: 1380px) {
    html {
        font-size: 44.92%;
    }
}

/* 1366x768*/
@media (max-width: 1367px) {
    html {
        font-size: 44.45%;
    }
}




@media (max-width: 1321px) {
    html {
        font-size: 43%;
    }
}

@media (max-width: 1275px) {
    html {
        font-size: 41.5%;
    }
}




@media (max-width: 1229px) {
    html {
        font-size: 40%;
    }
}
@media (max-width: 1183px) {
    html {
        font-size: 38.5%;
    }
}

@media (max-width: 1136px) {
    html {
        font-size: 37%;
    }
}

@media (max-width: 1091px) {
    html {
        font-size: 35.5%;
    }
}

@media (max-width: 1045px) {
    html {
        font-size: 52%;
    }
}

/* iPad Pro */
@media (max-width: 769px) {
    html {
        font-size: 37%;
    }
}


@media (max-width: 480px) {
    html {
        font-size: 62.5%; /* 62.5 */
    }
}

@media (max-width: 400px) {
    html {
        font-size: 58%; /* 62.5 */
    }
}

@media (max-width: 321px) {
    html {
        font-size: 55%; /* 62.5 */
    }
}
